.image-label {
    padding-top: 20px;
    img {
        width: 30px;
        height: 30px;
        margin: 0;
        border: 2px dotted #026773;
    }

    @media (max-width: 730px) {
        width: 100%;
        text-align: center;
        
        img {
            width: 40%;
        }
    }
}

.image-label-text {
    margin: 0 30px 0 20px;
    
    @media (max-width: 1240px) {
        display: grid;
        grid-template-columns: 70% 25%;
        margin: 0 20px 0 20px;
    }

    @media (max-width: 730px) {
        display: block;
        margin: 0 20px 0 20px;
        text-align: center;
        border-right: none;
    }
}

.image-label-text-content {
    h2 {
        line-height: 0;
        font-size: 20px;
        font-weight: 400;
        color: #212529;
        margin-bottom: 20px;
    }

    span {
        font-size: 15px;
        font-weight: 400;
        color: #444;
    }

    hr {
        margin-top: 30px;
    }

    @media (max-width: 1240px) {
        width: 350px;
        
        hr {
            padding-right: 0;
            display: none;
        }
    }

    @media (max-width: 730px) {
        width: 100%;

        hr {
            display: block;
        }
    }
}

.skills-label {
    list-style: none;
    h4 {
        color: #3CA6A6;
    }
    
    img {
        border: none;
        width: 30px;
        height: 30px;
        margin-right: 10px;
    }

    @media (max-width: 1240px) {
        width: 200px;
        border-left: 2px solid #008F8C;
        padding-left: 40px;

        h4 {
            margin: 0;
        }
    }

    @media (max-width: 730px) {
        width: 100%;
        border-left: none;
        padding-left: 0;

        li {
            text-align: center;
            display: block;
        }
    }
}