.social-icons {
    display: flex;
    padding: 0;
}

.social-media-icon {
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 0 10px;
    
    &:hover {
        filter: invert(25%) sepia(60%) saturate(856%) hue-rotate(135deg) brightness(65%) contrast(101%);
    }
}

